html, body, main{
    overflow-x: hidden;
    font-family: 'Helvetica';
    font-style: normal;
}
.text-navbar{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.header-picture{
    width: 300px;
    margin-top: 180px;
    margin-left: 95px;
}
.header-text{
    width: 400px;
    margin-left: 95px;
    margin-right: 50px;
    font-size: 20px;
    color: white;
}
.button-text{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.text-tab{
    font-size: 15px;
    color: white;
}
.title-text{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}
.text{
   font-size: 12px; 
}
.box{
    border-radius: 30px; 
    margin-left:-500px; 
    margin-right:70px;
    height: 1000px;
    background-color: #043753;
}
.box-phone{
    border-radius: 10px; 
    width: 850px;
    background-color: #D9D9D9;
}
.text-box{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.section-addition{
    background-image: linear-gradient(270deg,#c52121,rgba(197, 33, 33, 0.906),rgba(197, 33, 33, 0.425),rgba(112,104,213,0)),url(../assets/telu.png);
    height: 350px;
}
.nav-vertical{
    color: black;
    font-weight: 545;
}